body {
    margin: 1;
    padding: 0;
    background-color: rgb(39, 23, 3);
    }


    h1{
        font-size: 90px;
        color: rgb(104, 138, 231);
    }
    
    nav{
        background-color: #15427260;
        height: 50px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        border: 1px solid rgba(209, 77, 77, 0.473);
        font-size: 20px;  
    }
    
    nav ul li{
        float: left;
        list-style:none;
        margin: 4px;
        line-height: 1px;  
    }

    .datoprint{
        background-color: blue;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: normal;
        position: absolute;
    }